# Docker Compose configuration file
# most stable recent version
version: '3.8'
services:
  app:
    image: image-gen-dev-image
    container_name: image-gen-dev-container
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    tty: true
    

